.main-flex>div {
   border: 1px solid black;
   padding: 10px;
}

.box {
   padding: 30px;
}

.red {
   background-color: red;
}

.blue {
   background-color: blue;
}

.green {
   background-color: green;
}

.first {
   display: flex;
   /* justify-content: space-around;
   justify-content: space-between;
   justify-content: space-evenly;
   justify-content: center;
   height: 300px;
   align-items: flex-start;
   align-items: flex-end;
   align-items: center;
   gap: 30px; */
}

.second {
   display: flex;
   /* align-items: flex-start; */
}

.second>div {
   /* flex: 1; */
}

.second .red {
   /* order: 3; */
}

.second .green {
   /* order: 2; */
}

.second .blue {
   /* order: 1; */
}